@import url(http://fonts.googleapis.com/css?family=Lato|Raleway&subset=latin,latin-ext);







@media (max-width: 978px)
{
	.nomargins
	{
		padding:0;
		margin:0;
    }
}









/*
html
{
    font-size: 62.5%;
}
*/
.inline { float:left; }

/*
body
{
    font-size: 1.5em; 
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
}*/

.butgreen
{
    background-color: #00d640 !important;
	color: #fff;
	/*.button-variant(@custom-color, @custom-color-bg, @custom-color-border);*/
	/*.button-variant(#00d640,#00d640,#00d640);*/
}

.butred
{
    background-color: #ee5b55 !important;
	color: #fff;
}

.bkcolor
{
    background-color: #f7f7f7 !important;
}

.bkwhite
{
    background-color: #fff !important;
}

.fontgreen
{
    color: #00d640;
}

.boxko
{
    border-radius: 2px;
    background: #ee5b55;
    width: 12px;
    height: 12px;    
}

.boxok
{
    border-radius: 2px;
    background: #61ca42;
    width: 12px;
    height: 12px;    
}

.boxgis
{
    border-radius: 2px;
    background: #1abb9c;
    width: 12px;
    height: 12px;    
}

.boxhab
{
    border-radius: 2px;
    background: #73879c;
    width: 12px;
    height: 12px;    
}

.boxlim
{
    border-radius: 2px;
    background: #ee5b55;
    width: 12px;
    height: 12px;    
}

.boxper
{
    border-radius: 2px;
    background: #f8bc32;
    width: 12px;
    height: 12px;    
}

.boxwif
{
    border-radius: 2px;
    background: #a94067;
    width: 12px;
    height: 12px;    
}

.boxrte
{
    border-radius: 2px;
    background: #0b96df;
    width: 12px;
    height: 12px;    
}

.vcenter
{
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.fontred
{
    color: #ee5b55;
}

.cursorpointer
{
	cursor: pointer;
}

/*https://bootstrapbay.com/blog/bootstrap-button-styles/*/

.butsharp
{
    border-radius: 0px;
}

.butround
{
    border-radius: 24px;
}

.combovadjust > .btn
{
    /*box-shadow: 0px 0px 1px rgba(0,255,255,1);*/
    box-shadow: inset 0 -1px 0 #ddd;
    font-size: 16px;
    line-height: 1;
}

.combovadjust 
{ 
     margin-top: -4px; 
}

/*.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited
{
    background-color: #303F9F !important;
}*/


.dark-primary-color    { background: #303F9F; }
.default-primary-color { background: #3F51B5; }
.light-primary-color   { background: #C5CAE9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF5722; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }